<% layout("layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">Forgot Username</h1>
    <div class="col-6 offset-3">
        <form action="/forgot-username" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Enter your registered email</label>
                <input type="email" name="email" id="email" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100">Get Username</button>
        </form>
    </div>
</div>
